In [0]:
# /FileStore/tables/line_deli_extra_fields.json
# /FileStore/tables/corrupted_json.json
# /FileStore/tables/line_delimited_json.json
# /FileStore/tables/multiline_correct.json
# /FileStore/tables/multi_line_incorrect.json

In [0]:
spark.read.format("json").option("inferschema", "true").option("mode", "failfast").load(
    "/FileStore/tables/line_delimited_json.json"
).show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
spark.read.format("json").option("inferschema", "true").option("mode", "failfast").load(
    "/FileStore/tables/line_deli_extra_fields.json"
).show()

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+

In [0]:
data = spark.read.format("json").option("inferschema", "true").option(
    "multiline", "true"
).load("/FileStore/tables/multiline_correct.json")

data.show()
data.printSchema()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
spark.read.format("json").option("inferschema", "true").option(
    "multiline", "true"
).load("/FileStore/tables/multi_line_incorrect.json").show()

+---+------+------+
|age|  name|salary|
+---+------+------+
| 20|Manish| 20000|
+---+------+------+

In [0]:
spark.read.format("json").option("inferschema", "true").option(
    "mode", "permisive"
).load("/FileStore/tables/corrupted_json.json").show(truncate=False)

+----------------------------------------+----+--------+------+
|_corrupt_record                         |age |name    |salary|
+----------------------------------------+----+--------+------+
|null                                    |20  |Manish  |20000 |
|null                                    |25  |Nikita  |21000 |
|null                                    |16  |Pritam  |22000 |
|null                                    |35  |Prantosh|25000 |
|{"name":"Vikash","age":67,"salary":40000|null|null    |null  |
+----------------------------------------+----+--------+------+