In [0]:
from pyspark.sql.functions import sum, min, max, avg

data = [
    (1, "manish", 26, 20000, "india", "IT"),
    (2, "rahul", None, 40000, "germany", "engineering"),
    (3, "pawan", 12, 60000, "india", "sales"),
    (4, "roshini", 44, None, "uk", "engineering"),
    (5, "raushan", 35, 70000, "india", "sales"),
    (6, None, 29, 200000, "uk", "IT"),
    (7, "adam", 37, 65000, "us", "IT"),
    (8, "chris", 16, 40000, "us", "sales"),
    (None, None, None, None, None, None),
    (7, "adam", 37, 65000, "us", "IT"),
]
schema = ["id", "name", "age", "salary", "country", "department"]
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country| department|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
df.count()

Out[35]: 10

In [0]:
df.select(count("name").alias("Total Names")).show()

+-----------+
|Total Names|
+-----------+
|          8|
+-----------+

In [0]:
df.select(
    sum("salary").alias("Total Ssalary"),
    min("salary").alias("Lowest Salary"),
    max("salary").alias("Highest Salary"),
    avg("salary").alias("Average Salary"),
).show()

+-------------+-------------+--------------+--------------+
|Total Ssalary|Lowest Salary|Highest Salary|Average Salary|
+-------------+-------------+--------------+--------------+
|       560000|        20000|        200000|       70000.0|
+-------------+-------------+--------------+--------------+