In [0]:
from pyspark.sql.functions import sum

data = [
    (1, "manish", 50000, "IT"),
    (2, "vikash", 60000, "sales"),
    (3, "raushan", 70000, "marketing"),
    (4, "mukesh", 80000, "IT"),
    (5, "pritam", 90000, "sales"),
    (6, "nikita", 45000, "marketing"),
    (7, "ragini", 55000, "marketing"),
    (8, "rakesh", 100000, "IT"),
    (9, "aditya", 65000, "IT"),
    (10, "rahul", 50000, "marketing"),
]
schema = ["id", "name", "salary", "department"]
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+------+----------+
| id|   name|salary|department|
+---+-------+------+----------+
|  1| manish| 50000|        IT|
|  2| vikash| 60000|     sales|
|  3|raushan| 70000| marketing|
|  4| mukesh| 80000|        IT|
|  5| pritam| 90000|     sales|
|  6| nikita| 45000| marketing|
|  7| ragini| 55000| marketing|
|  8| rakesh|100000|        IT|
|  9| aditya| 65000|        IT|
| 10|  rahul| 50000| marketing|
+---+-------+------+----------+

In [0]:
df.groupBy("department").agg(sum("salary").alias("Salary")).show()

+----------+------+
|department|Salary|
+----------+------+
|        IT|295000|
|     sales|150000|
| marketing|220000|
+----------+------+