In [0]:
data = [
    (10, "Anil", 50000, 18),
    (11, "Vikas", 75000, 16),
    (12, "Nisha", 40000, 18),
    (13, "Nidhi", 60000, 17),
    (14, "Priya", 80000, 18),
    (15, "Mohit", 45000, 18),
    (16, "Rajesh", 90000, 10),
    (17, "Raman", 55000, 16),
    (18, "Sam", 65000, 17),
]

schema = ["id", "name", "salary", "manager"]
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
+---+------+------+-------+

In [0]:
df.count()

Out[44]: 9

In [0]:
data1 = [(19, "Sohan", 50000, 18), (20, "Sima", 75000, 17)]
df1 = spark.createDataFrame(data=data1, schema=schema)
df1.show()

+---+-----+------+-------+
| id| name|salary|manager|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

In [0]:
df.union(df1).show()

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

In [0]:
duplicate_data = [
    (19, "Sohan", 50000, 18),
    (20, "Sima", 75000, 17),
    (20, "Sima", 75000, 17),
]

duplicate_data_df = spark.createDataFrame(data=duplicate_data, schema=schema)
duplicate_data_df.show()

+---+-----+------+-------+
| id| name|salary|manager|
+---+-----+------+-------+
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

In [0]:
# In DataFrame union and unionAll works same
df.unionAll(duplicate_data_df).show()
df.union(duplicate_data_df).show()

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

In [0]:
# But in Spark SQL union all do not remove duplicate entries
# we have to convert DataFrame in to a table
df.createOrReplaceTempView("customers")
duplicate_data_df.createOrReplaceTempView("customers2")
query_union = """
    select * from customers
    union
    select * from customers2
    """

query_union_all = """
    select * from customers
    union all
    select * from customers2
    """
spark.sql(query_union).show()
spark.sql(query_union_all).show()

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 17| Raman| 55000|     16|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

In [0]:
wrong_order_data = [(19, 50000, 18, "Sohan"), (20, 75000, 17, "Sima")]
wrong_schema = ["id", "salary", "manager", "name"]
wrong_order_df = spark.createDataFrame(data=wrong_order_data, schema=wrong_schema)
wrong_order_df.show()

+---+------+-------+-----+
| id|salary|manager| name|
+---+------+-------+-----+
| 19| 50000|     18|Sohan|
| 20| 75000|     17| Sima|
+---+------+-------+-----+

In [0]:
# if we want to union wrong order DataFrames we have to use UnionByName
df.unionByName(wrong_order_df).show()

+---+------+------+-------+
| id|  name|salary|manager|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+