In [0]:
data = [
    (10, "Anil", 50000, 18),
    (11, "Vikas", 75000, 16),
    (12, "Nisha", 40000, 18),
    (13, "Nidhi", 60000, 17),
    (14, "Priya", 80000, 18),
    (15, "Mohit", 45000, 18),
    (16, "Rajesh", 90000, 10),
    (17, "Raman", 55000, 16),
    (18, "Sam", 65000, 17),
    (15, "Mohit", 45000, 18),
    (13, "Nidhi", 60000, 17),
    (14, "Priya", 90000, 18),
    (18, "Sam", 65000, 17),
]

schema = ["id", "name", "salary", "manager_id"]
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 15| Mohit| 45000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 90000|        18|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
df.distinct().show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 12| Nisha| 40000|        18|
| 11| Vikas| 75000|        16|
| 13| Nidhi| 60000|        17|
| 15| Mohit| 45000|        18|
| 14| Priya| 80000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 14| Priya| 90000|        18|
+---+------+------+----------+

In [0]:
df.distinct("id", "name").show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-3555067705453536>:1
----> 1 df.distinct("id", "name").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
df.select("id","name").distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
df.drop_duplicates(["id", "name"]).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 15| Mohit| 45000|        18|
| 14| Priya| 80000|        18|
| 17| Raman| 55000|        16|
| 16|Rajesh| 90000|        10|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
from pyspark.sql.functions import col

df.sort(
    col("salary").desc(),
    col("name"),
).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 14| Priya| 90000|        18|
| 16|Rajesh| 90000|        10|
| 14| Priya| 80000|        18|
| 11| Vikas| 75000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 65000|        17|
| 13| Nidhi| 60000|        17|
| 13| Nidhi| 60000|        17|
| 17| Raman| 55000|        16|
| 10|  Anil| 50000|        18|
| 15| Mohit| 45000|        18|
| 15| Mohit| 45000|        18|
| 12| Nisha| 40000|        18|
+---+------+------+----------+